---
import '../styles/header.css';
---

<header>
  <nav>
    <ul class="nav-links">
      <li><a href="/">Hjem</a></li> <!-- Home link -->
      <li><a href="#footer">Info</a></li> <!-- Info link scrolling to the footer -->
      <li><a href="#footer">Events</a></li> <!-- Events link scrolling to the footer -->
      <li><a href="#footer">Kontakt</a></li> <!-- Contact link scrolling to the footer -->
    </ul>
  </nav>
</header>
