---
---


  <footer>
    <div class="info_links">
    <p> Kontooverførsel </p>
    <a href=""> Hvis du ønsker at overføre et vilkårligt beløb til vores bankkonto kan det gøres til følgende:</a>
     <a href=""> Reg. nr.: 4728</a>
      <a href=""> Konto nr. 4665241319</a>
            <a href=""> Hvis det ønskes, så kan du modtage en kvittering, send e-mail herom til</a>
            <a href=""> info@kidsaid.dk.</a>
      </div>

       <div class="info_2">
    <p> MobilePay </p>
    <a href="">  Det er også muligt at støtte KidsAid over MobilePay med et vilkårligt beløb til 64740.
Hvis det ønskes, så kan du modtage en kvittering, send e-mail herom til info@kidsaid.dk.</a>

     
      </div>

     <div class="info_3">
    <p> KidsAid Family </p>
    <a href=""> Vil du eller din virksomhed blive en del af et stærkt og unikt netværk? Så er KidsAid Family lige noget for jer. For 10.000 kr. årligt (ex moms) støtter I KidsAid samtidig med I bliver inviteret med til vores events samt særlige Family-events.</a> 
      </div>

      <div class="svg_images">
        <img src="instagram.svg" alt="">

    
      </div>

      <p>© 2024 MAGIC KIDS . Alle rettigheder forbeholdes.</p>
   
   